[submodule "themes/hugo-theme-yue"]
	path = themes/hugo-theme-yue
	url = https://github.com/CyrusYip/hugo-theme-yue
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
